<section class="header" x-data="headerComponent">
    <div class="header_info">

        <div class="header_info__logo_wrap">
            <a href="/"><img :src="getAsset(header?.logo)" /></a>
            <span>
                Санкт-Петербург <br />
                Москва
            </span>
        </div>

        <div class="header_info__rating_wrap">
            <span class="header_info__rating_number" x-text="contacts?.yandex_rating"></span>
            <div class="column">
                <div class="header_info__rating_stars_wrap">
                    <img src="/assets/icons/rating-star-full-yellow.svg" />
                    <img src="/assets/icons/rating-star-full-yellow.svg" />
                    <img src="/assets/icons/rating-star-full-yellow.svg" />
                    <img src="/assets/icons/rating-star-full-yellow.svg" />
                    <img src="/assets/icons/rating-star-full-yellow.svg" />
                </div>
                <span class="header_info__rating_label_bold">Рейтинг Яндекс</span>
                <span class="header_info__rating_label_light">на основании <span x-text="contacts?.yandex_feedback_amount"></span> отзывов</span>
            </div>
        </div>

        <div class="header_info__socials_wrap">
            <div class="header_info__online_wrap">
                <div class="header_info__online_circle"></div>
                <span class="header_info__online_label">Пишите, мы онлайн</span>
            </div>
            <div class="header_info__messengers">
                <a :href="contacts?.vk_message"><img src="/assets/icons/vk-colored-bg.webp" /></a>
                <a :href="contacts?.telegram_message"><img src="/assets/icons/telegram-colored-bg.svg" /></a>
                <a :href="contacts?.whatsapp"><img src="/assets/icons/whatsapp-colored-bg.svg" /></a>
            </div>
        </div>

        <div class="header_info__contacts_wrap">
            <a class="header_info_phone" :href="'tel:' + contacts?.phone" x-text="contacts?.phone"></a>
            <a class="header_info_email" :href="'mailto:' + contacts?.email" x-text="contacts?.email"></a>
        </div>

        <script data-b24-form="click/4/29asoq" data-skip-moving="true">
        (function(w,d,u){
        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b14099574/crm/form/loader_4.js');
        </script>
        <div class="button header_info__button" x-text="header?.button?.[0]?.label"></div>

        <div class="header_info__burger_menu" @click="mobileMenuOpen = true">
            <img src="/assets/icons/burger_menu.svg" />
        </div>
    </div>

    <div id="mobile_menu" class="header_mobile_menu" :class="{ 'active': mobileMenuOpen }">
        <div class="header_mobile_menu__close_button" @click="mobileMenuOpen = false">
            <img src="/assets/icons/close_cross.svg" />
        </div>
        <template x-for="item in header?.menu" :key="item.url">
            <a :href="item.url" x-text="item.label"></a>
        </template>
        <a class="margin-bottom-30" href="/contacts">Контакты</a>
        <div class="header_mobile_menu__contacts__wrap margin-bottom-30">
            <a :href="'tel:' + contacts?.phone" x-text="contacts?.phone"></a>
            <a :href="'mailto:' + contacts?.email" x-text="contacts?.email"></a>
        </div>

        <script data-b24-form="click/6/t86koa" data-skip-moving="true">
        (function(w,d,u){
        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b14099574/crm/form/loader_6.js');
        </script>
        <div class="button margin-bottom-20">Заказать звонок</div>

        <div class="header_info__messengers">
            <a :href="contacts?.vk_message"><img src="/assets/icons/vk-colored-bg.webp" /></a>
            <a :href="contacts?.telegram_message"><img src="/assets/icons/telegram-colored-bg.svg" /></a>
            <a :href="contacts?.whatsapp"><img src="/assets/icons/whatsapp-colored-bg.svg" /></a>
        </div>
    </div>

    <nav class="header_menu">
        <ul>
            <template x-for="item in header?.menu" :key="item.url">
                <li><a :href="item.url" x-text="item.label"></a></li>
            </template>
        </ul>
    </nav>
</section>